body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(233, 233, 233);
}

a {
    text-decoration: none;
    color: brown;
}

a:hover {
    color: black;
    font-weight: bold;
}

h2, p, .readme-wrapper {
    text-align: center;
}

.image1, h2 {
    display: inline-block;
}

.image1 {
    width: 5em;
    height: 5em;
    background-color: black;
}

.box {
    display: block;
    width: 20%;
    margin: 2em;
    padding: 2em;
    border: solid rgb(55, 192, 247);
    border-radius: 1em;
}

#box1{
    background-color: aliceblue;
}

#box2{
    background-color: rgb(240, 255, 252);
}

#box3{
    background-color: rgb(254, 255, 240);
}

#box4{
    background-color: rgb(249, 240, 255);
}

h2 {
    display: inline;
}

h1 {
    color: black;
}

.group1 {
    color: rgb(61, 96, 250);
}

.group2 {
    color: purple;
}

#show1{
    color: blue;
}

#show2{
    color: rgb(0, 81, 255);
}

#show3{
    color: rgb(0, 132, 255);
}

#show4{
    color: rgb(0, 162, 255);
}

#show5{
    color: rgb(0, 217, 255);
}

.lists {
    border: 2px solid black;
}

#list1 {
    color: blueviolet;
}

#list2{
    color: rgb(17, 158, 168);
}

#list3 {
    color: rgb(243, 201, 111);
}